.popup{
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: #00000090;
  display: grid;
}

.popupContainer{
  place-self: center;
  align-items: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
  position: relative;
}

.popupContainer .crossIcon{
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgba(231, 227, 227, 0.925);
  /* color: wheat; */
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  /* top: 100px; */
}

.popupTitle, .popupMessage{
  text-align: center;
}