.relatedProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* height: 90vh; */
}

.relatedProducts h1{
    color: #171717 ;
    font-size: 35px;
    font-weight: 600;
}

.relatedProducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedProducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

@media(max-width: 1280px){
    .relatedProducts{
        height: 70vh;
    }
    .relatedProducts h1{
        font-size: 40px;
    }

    .relatedProducts hr{
        width: 160px;
        height: 4px;
    }

    .relatedProducts-item{
        gap: 20px;
        margin-top: 30px;
    }

}

@media(max-width: 1024px){
    .relatedProducts{
        height: 60vh;
    }
    .relatedProducts h1{
        font-size: 30px;
    }

    .relatedProducts hr{
        width: 120px;
        height: 3px;
    }

    .relatedProducts-item{
        gap: 15px;
        margin-top: 20px;
    }

}

@media(max-width: 800px){
    .relatedProducts{
        height: 50vh;
        gap: 6px;
    }
    .relatedProducts h1{
        font-size: 20px;
    }

    .relatedProducts hr{
        width: 100px;
    }

    .relatedProducts-item{
        gap: 5px;
    }
}

@media(max-width: 500px){
    .relatedProducts{
        height: 90vh;
        gap: 6px;
    }

    .relatedProducts-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .relatedProducts h1{
        font-size: 20px;
    }

    .relatedProducts hr{
        width: 100px;
    }

}