# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log

# Ignore environment files
.env
frontend/.env

# Ignore build output
/dist
frontend/dist
/build

# Ignore configuration files 
frontend/config.js