# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log

# Ignore environment files
.env


# Ignore build output
/dist

frontend/dist
/build

# Ignore configuration files
config.js 
frontend/config.js

# Ignore backend-v1 folder
# backend-v1/