# Ignore node_modules directory
node_modules/

backend-v1/node_modules/
backend-v2/node_modules/

# Ignore logs
logs/
*.log

# Ignore environment files
.env
backend-v1/.env
backend-v2/.env

# Ignore build output
/dist
admin/dist/
frontend/dist
/build

# Ignore configuration files
# config.js 
# frontend/config.js

# Ignore backend-v1 folder
# backend-v1/

features.txt
currentFeatures.txt