.cartItems {
    margin: 100px 170px;
}

.cartItems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartItems-formatMain{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}


.cartItems-format{
    font-size: 17px;
    font-weight: 500;
}

.cartItems-productImg{
    height: 62px;
}

.cartItems-removeImg{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartItems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}