.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 80px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    /* width: 20px;
    height: 20px; */
}

.footer-logo p{
    color: #383838;
    font-size: 25px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 18px;
}

.footer-links li{
    cursor: pointer;
}

.footer-social-icon{
    display: flex;
    gap: 20px;
}

.footer-icons-container{
    padding: 8px;
    padding-bottom: 2px;
    border-radius: 50%;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 15px;
    color: #1a1a1a;
    font-size: 18px;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}